#container {
margin:0 auto;
widht:1000px;
}

#plotno{
	border:1px solid #333;
}
.control_button {
	display:inline-block;
	font-size:1.25em;
	padding: 10px;
	background-color: #432123;
	color: #fff;
}
.control_button:hover{
	background-color: #432123;
	cursor:pointer;
}